export(Hydrovol)
export(LoadInstantaneous)
export(MapColor)
export(MapSizeColor)
export(TSstats)
export(TSstormstats)
export(WQcompos)
export(computeSeasonal)
export(determineHYSEPEvents)
export(findSampleQ)
export(getMaxStartEnd)
export(plotBaseline)
export(plotHYSEPOverview)
import(USGSwsBase)
import(dataRetrieval)
import(rgdal)
import(sp)
